body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  font-family: "Kumbh Sans", sans-serif;
  margin-bottom: 0;
}

#box {
  display: flex;
  justify-content: space-between;
  margin: 170px 300px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 30px 20px #5d49c4;
}
/* 텍스트 박스 */
#text-box {
  width: 350px;
  padding: 20px 70px 70px 0;
}
.faq-content {
  border-bottom: 1px solid gray;
}
.question {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
  font-size: 14px;
  color: gray;
}

.question:hover {
  color: #f27457;
}
.answer {
  display: none;
  font-size: 12px;
  color: gray;
  margin-bottom: 20px;
}
.down {
  padding-left: 10px;
  float: right;
  padding-top: 5px;
}

/* 이미지 */
#image-box {
  width: 50%;
  position: relative;
}

.bg-icon {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 1000px;
  max-height: 1000px;
  left: -630px;
  top: -300px;
}

.woman-icon {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  left: -65px;
  top: 100px;
}
/* 얘가 반응형을 방해하는 애다!!!! 음하하*/
/* #box-icon {
  position: absolute;
  z-index: 999;
  bottom: 260px;
  left: 210px;
} */

.hidden {
  display: none;
}

/* 반응형이 왜 안되지....... */
@media (max-width: 375px) {
  body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    font-family: "Kumbh Sans", sans-serif;
    margin-bottom: 0;
  }

  #box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 160px 20px;
    border-radius: 15px;
    /* overflow: hidden; */
    overflow: visible;
    background-color: white;
    box-shadow: 0 30px 20px #5d49c4;
  }
  /* 텍스트 박스 */
  #text-box {
    width: 270px;
    padding: 70px 30px 30px 30px;
  }
  .faq-content {
    border-bottom: 1px solid #bfbfbf;
  }
  .question {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 5px;
    font-size: 12px;
    color: gray;
  }

  .question:hover {
    color: #f27457;
  }
  .answer {
    display: none;
    font-size: 12px;
    color: gray;
    margin-bottom: 20px;
    padding-left: 5px;
    line-height: 17px;
  }
  .down {
    padding-left: 10px;
    float: right;
    padding-top: 5px;
  }

  /* 이미지 */
  #image-box {
    width: 50%;
    position: relative;
  }

  .bg-icon {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 2000px;
    max-height: 2000px;
    left: -40px;
    top: 0px;
  }

  .woman-icon {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    right: -30px;
    left: -60px;
    top: -100px;
    margin-left: 20px;
  }
  /* #box-icon {
    position: absolute;
    z-index: 999;
    bottom: 260px;
    left: 210px;
  } */

  .hidden {
    display: none;
  }
}
